.list-card.enhanced-header {
  background: none !important;
  box-shadow: none !important;
}

.list-card.enhanced-header .list-card-labels, .list-card.enhanced-header .list-card-title {
  display: none !important;
}

.list-card.enhanced-header .enhanced-header-text {
  text-align: center;
  font-weight: bold;
}

.list-card.enhanced-header.enhanced-color-green .enhanced-header-text {
  color: #61bd4f;
}

.list-card.enhanced-header.enhanced-color-yellow .enhanced-header-text {
  /* color: #f2d600; */
  color: hsl(53, 100%, 40%);
}

.list-card.enhanced-header.enhanced-color-orange .enhanced-header-text {
  color: #ff9f1a;
}

.list-card.enhanced-header.enhanced-color-red .enhanced-header-text {
  color: #eb5a46;
}

.list-card.enhanced-header.enhanced-color-purple .enhanced-header-text {
  color: #c377e0;
}

.list-card.enhanced-header.enhanced-color-blue .enhanced-header-text {
  color: #0079bf;
}

.list-card.enhanced-header.enhanced-color-sky .enhanced-header-text {
  color: #00c2e0;
}

.list-card.enhanced-header.enhanced-color-lime .enhanced-header-text {
  color: #51e898;
}

.list-card.enhanced-header.enhanced-color-pink .enhanced-header-text {
  color: #ff78cb;
}

.list-card.enhanced-header.enhanced-color-black .enhanced-header-text {
  color: #355263;
}
